IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "rst_n" 88;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "gpio[0]" 15;
IO_PORT "gpio[0]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "gpio[1]" 16;
IO_PORT "gpio[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "gpio[2]" 17;
IO_PORT "gpio[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "gpio[3]" 18;
IO_PORT "gpio[3]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "gpio[4]" 19;
IO_PORT "gpio[4]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "gpio[5]" 20;
IO_PORT "gpio[5]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "gpio[6]" 87;
IO_PORT "gpio[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "gpio[7]" 73;
IO_PORT "gpio[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[8]" 74;
IO_PORT "gpio[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[9]" 75;
IO_PORT "gpio[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[10]" 85;
IO_PORT "gpio[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[11]" 77;
IO_PORT "gpio[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[12]" 27;
IO_PORT "gpio[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[13]" 28;
IO_PORT "gpio[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[14]" 25;
IO_PORT "gpio[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[15]" 26;
IO_PORT "gpio[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[16]" 29;
IO_PORT "gpio[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[17]" 30;
IO_PORT "gpio[17]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[18]" 31;
IO_PORT "gpio[18]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[19]" 76;
IO_PORT "gpio[19]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[20]" 80;
IO_PORT "gpio[20]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[21]" 42;
IO_PORT "gpio[21]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[22]" 41;
IO_PORT "gpio[22]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[23]" 56;
IO_PORT "gpio[23]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[24]" 54;
IO_PORT "gpio[24]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[25]" 51;
IO_PORT "gpio[25]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[26]" 48;
IO_PORT "gpio[26]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[27]" 55;
IO_PORT "gpio[27]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[28]" 49;
IO_PORT "gpio[28]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[29]" 86;
IO_PORT "gpio[29]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[30]" 79;
IO_PORT "gpio[30]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[31]" 72;
IO_PORT "gpio[31]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[32]" 71;
IO_PORT "gpio[32]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[33]" 53;
IO_PORT "gpio[33]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[34]" 52;
IO_PORT "gpio[34]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// gpio[35]/gpio[36] = onboard BL616 USB-UART bridge (same Type-C used to
// flash the board). Reserved for the UART bootloader.
IO_LOC "gpio[35]" 69;
IO_PORT "gpio[35]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "gpio[36]" 70;
IO_PORT "gpio[36]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
